.arbol{
    border: 1px solid #ccc;
    min-height: 150px;
    max-height: 413px;
    overflow-y: auto;
    overflow-x: auto;
    border-radius: 2px;
    padding: 2px;
}

.subtitulo{
    background: #E18E81;
    width: 100%;
    padding: 7px;
	margin:0;
}