.nuevo{
    display: none;
}
.flotante{
    position: fixed!important;
    right: -190px!important;
    /*opacity: 0.3;*/
    /*bottom: 0;*/
}
.flotante:hover{
    /*opacity: 1;*/
    right: 0px!important;
}
body{
    margin-top: 50px;
}